:root{
    --naranja: #FB8500;
    --azul: #40BEDD;
    --azulOscuro: #023047;
    --verde: #36CC00;
    --rojo: #FF470A;
    --gris: #ccdbdc;
}

/* GLOBALES */


html{
    font-size: 62.5%;
    box-sizing: border-box;/*El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente.*/



}

body{
    
    font-size: 18px;
    font-family: "Anta", sans-serif;
    background-image: linear-gradient(to top, var(--azulOscuro) 0%, var(--azul) 100%); /* La propiedad linear-gradiant nos permite hacer un fondo con degradado */
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor{
    max-width: 120rem; /*Coge el valor maximo indicado si esta disponible, sino toma el 100% de ancho por defecto un div*/
    margin: 0 auto;
    
}


/* HEADER */
.titulo{
    text-align: center;
    margin: 0 auto;
}

/* NAV */
.nav-bg{
    background-color: var(--naranja);
}
.navegacion-principal {
    display: flex; /*Siempre que queramos utilizar flexbox tendremos que ir hacia el elemento padre de lo que deseamos alinear*/
    align-items: center;
    justify-content: space-between;/*Justify-content se aplica con elementos ordenados horizontalmente*/
        /*Distrubuye los elementos, ocupando el principio y el fin del contenedor y separando cada uno equitativamente*/

}
.navegacion-principal a {
    padding: 1rem 5rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s ease;
}
.navegacion-principal a:hover {
    
    color: var(--negro);


}

/* FORUMULARIO */

.formulario{
    background-color: var(--gris);
    
    width: min(40rem, 100%);/* Utiliza el valor mas pequeño*/
    padding: 2rem;
    border-radius: 2rem;
}

.formulario fieldset{
    border: none;
}



.contenedor-campos{
    display: grid;
    grid-template-rows: auto auto 5rem;
    align-items: center;
    
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--azulOscuro);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    text-align: center;
}

.input-text{
    width: 70%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    width: 92%;
}

/* TABLAS */
.tabla{
    
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;


}


.tabla td{
    padding-left: 1rem;
}

.scroll{
    overflow-y: auto;
    scrollbar-width: none;
}

/* DISTRIBUCION */

.contenedor-principal{
    display: grid;
    grid-template-columns: repeat(2 , 35% 65%);
    
}

.columna1{
    margin: 3rem 1rem;
    text-align: center;
}
.columna2 h2{

    color: var(--naranja);
    
}

.columna2-articulos{
    
    margin-top: 3rem;
    margin-right: 2rem;
    height: 30rem;
    width: 100%;
    
}

.columna2-usuarios{
    margin-top: 3rem;
    margin-right: 2rem;
    height: 45rem;
    width: 100%;
    
}




/* NOTIFICACION */

.correcto {
    width: 35rem;
    margin: 2rem;
    background-color: var(--verde);
    color: white; 
    padding: 1rem; 
    border-radius: 1rem;
    text-transform: uppercase;
}

.incorrecto {
    width: 42rem;
    margin-top: 2rem;
    background-color: var(--rojo);
    color: white; 
    padding: 1rem; 
    border-radius: 1rem;
    text-transform: uppercase;
}


/* LOGIN */


.formulario__campo{
    display: grid;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.formulario__campo input{
    padding: 1.5rem;
    
}
.formulario__campo label{
    text-transform: uppercase;
}

.formulario__boton{
    
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .8rem;
    border: none;
    text-align: center;
}

.formulario__boton:hover{
    cursor: pointer;
}

.formulario-log{
    background-color: white;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 2.5rem;

}

.contenedor-log{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    height: 50rem;
    margin: 0 auto;
    
}